.table-container {
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}


.responsive-table-wrapper {
  overflow-x: auto;

  -webkit-overflow-scrolling: touch;

  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.custom-table thead {
  background-color: #4caf50;
  color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  /* Prevent text wrapping */
}

.custom-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Links */
.custom-table a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.custom-table a:hover {
  text-decoration: underline;
}

/* Buttons */
.action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.action-button.delete {
  background-color: #f44336;
}

.action-button.delete:hover {
  background-color: #d32f2f;
}

.drivelink {
  color: blue !important;
}

.no-data-message {
  font-size: 18px;
  color: #666;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* Loading spinner styles */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* Adjust the height as needed */
  position: absolute;
  /* Center it on the page */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Center both horizontally and vertically */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  /* Light gray border */
  border-top: 4px solid #3498db;
  /* Blue color for the spinning part */
  border-radius: 50%;
  /* Circular spinner */
  width: 40px;
  /* Size of the spinner */
  height: 40px;
  /* Size of the spinner */
  animation: spin 1s linear infinite;
  /* Infinite spinning animation */
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Start from 0 degrees */
  }

  100% {
    transform: rotate(360deg);
    /* End at 360 degrees (full rotation) */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-table {
    min-width: 100%;

  }

  .custom-table th,
  .custom-table td {
    font-size: 14px;

    padding: 10px;
  }
}